@tailwind base;
@tailwind components;
@tailwind utilities;


.prose :is(h2, h3, h4, h5, h6) {
    margin-top: var(--size-8);
    margin-bottom: var(--size-3);
}

.prose p:not(:is(h2, h3, h4, h5, h6) + p) {
    margin-top: var(--size-8);
}

